<div class="bg-sidebar" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <img src="../../../assets/img/logo.png" class="img-fluid" width="30" height="30" alt="" loading="lazy">
    Salud Test
  </div>
  <div class="list-group list-group-flush">
    <ng-container *ngFor="let item of menu" >
      <ng-container *ngIf="item.url; else actionLink">
        <a
          [routerLink]="item.url"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          class="list-group-item list-group-item-action bg-cocinarte">
            <i [class]="item.icon"></i> {{item.name}}
        </a>
      </ng-container>
      <ng-template #actionLink>
        <a
          *ngIf="item.actions"
          (click)="item.actions()"
          class="list-group-item list-group-item-action bg-cocinarte">
            <i [class]="item.icon"></i> {{item.name}}
        </a>
      </ng-template>

    </ng-container>

  </div>
</div>

